{% extends "branches/base_site.html" %}
{% block extra_css %}
<link href="/static/css/dashboard.css" rel="stylesheet">
{% endblock extra_css %}


{% block body_classes %}dashboard{% endblock body_classes %}
{% block jumbotron %}{% endblock jumbotron %}
{% block navigation %}
    <div class="container-fluid main-menu">
        <div class="row">
            <div class="col-xs-1 col-sm-1 col-md-2 brand">
                <span class="hidden-xs hidden-sm">
                    <a href="{% url 'dashboard' %}">
                        <b>DEV</b>BRANCH
                    </a>
                </span>
            </div>
            <div class="col-xs-11 col-sm-11 col-md-10 status">
                <div class="profile pull-right">
                    <img src="{{ user.profile.gravatar_url }}" class="img-responsive img-circle pull-right" alt="" width="50px">
                    <div class="name">
                        <span>
                            {{ user.username }}
                        </span>
                        <br>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock navigation %}
{% block content_wrapper %}
    <div class="container-fluid content-wrapper">
        <div class="row">
            <div class="col-xs-1 col-sm-1 col-md-2 sidebar affix">
                <span class="caption hidden-xs hidden-sm">Main Menu</span>
                <div class="menu-item {% if page == 'project-list' %}active{% endif %}">
                    <a><i class="fa fa-bars"></i>
                        <span class="hidden-xs hidden-sm">Dashboard</span>
                    </a>
                </div>
                <div class="menu-item">
                    <a href="{% url 'branches:project-list' %}"><i class="fa fa-desktop"></i>
                        <span class="hidden-xs hidden-sm">Projects</span>
                    </a>
                </div>
            </div>
            <div class="col-xs-11 col-xs-offset-1 col-sm-11 col-sm-offset-1 col-md-10 col-md-offset-2 main">
                <div class="page-heading">
                    <h2>{% block page_title %}Dashboard{% endblock page_title %}</h2>
                </div>
                <div class="page-subheading">
                    <span>{% block page_subtitle %}{% endblock page_subtitle %}</span>
                </div>
                {% block content %}
                    <div class="container-fluid">
                        <div class="row">
                                <!-- add a server link -->
                            <div class="col-sm-12 col-md-6 col-lg-4">
                                <div class="panel panel-default dashboard-panel">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Add a new server</h3>
                                        <span class="panel-icon">
                                            <i class="fa fa-desktop"></i>                                                
                                        </span>
                                    </div>
                                    <div class="panel-body">
                                        Connect to a server so we can start managing your projects.
                                        <br>
                                        <a href="{% url 'branches:new-server' owner=owner %}">
                                            <button type="button" class="btn btn-success">Add Server</button>
                                        </a>
                                    </div>
                                </div>
                            </div> <!-- end of add server ad -->
                            
                            <!-- Rackspace import -->
                            <div class="col-sm-12 col-md-6 col-lg-4">
                                <div class="panel panel-default dashboard-panel dashboard-panel-orange">
                                    <div class="panel-heading">
                                        <img src="/static/img/rackspace.png"  width="60px" alt="">
                                        <h3 class="panel-title">Import from Rackspace</h3>
                                    </div>
                                    <div class="panel-body">
                                        Got servers in Rackspace? Import them in one click!
                                        <br>
                                        <a href="{% url 'branches:rackspace-connect' owner=owner %}">
                                            <button type="button" class="btn btn-danger">Connect to Rackspace</button>
                                        </a>
                                    </div>
                                </div>
                            </div> <!-- end of rackspace import blurb -->

                            <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
                                <div class="panel panel-default dashboard-panel dashboard-panel-blue">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Import from DigitalOcean</h3>
                                    </div>
                                    <div class="panel-body">
                                        Yup... importing from DigitalOcean is a snap too.
                                        <a href="{% url 'branches:digitalocean-connect' owner=owner %}">
                                            <button type="button" class="btn btn-info">Connect to DigitalOcean</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- end of ads row (add server, rackspace, Do) -->



                    </div>

                {% endblock content %}
            </div>
        </div>
    </div>
{% endblock content_wrapper %}
