{% extends "branches/dashboard.html" %}
{% load project_tags %}

{% block page_title %}
    <a href="{% url 'branches:owner-project-list' owner=owner %}" class="back-link">
        <i class="fa fa-chevron-left"></i>
    </a>

    Project {{ project.repository.name }}
{% endblock page_title %}

{% block content %}
    <div class="page-actions">
        <a href="{% url 'branches:project-edit' owner=project.owner project=project.slug %}" class="pull-right"><button class="btn btn-normal">Edit</button></a>
        <a href="{% url 'branches:project-delete' owner=project.owner project=project.slug %}" class="pull-right"><button class="btn btn-normal">Delete</button></a>
    </div>
    {% render_project project full=True %}
{% endblock content %}
