{% extends "branches/base_site.html" %}
{% load server_tags %}

{% block page_title %}Servers{% endblock page_title %}

{% block content %}

<div class="page-actions">
	<a href="{% url 'branches:new-server' %}" class="pull-right"><button class="btn btn-normal">Add server</button></a>
</div>

{% for server in object_list %}
	{% if forloop.first %}
		<div class="row">
	{% endif %}

	<div class="col-sm-4 col-md-4 col-lg-4">
		{% render_server server %}
	</div>

	{% if forloop.counter|divisibleby:3 %}
		</div>
		<div class="row">
	{% endif %}

	{% if forloop.last %}
		</div>
	{% endif %}
{% empty %}
No servers yet.
{% endfor %}
{% endblock content %}
