{% extends "branches/dashboard.html" %}
{% load server_tags %}

{% block page_title %}
    <a href="{% url 'branches:project-detail' owner=server.project.owner project=server.project.slug %}" class="back-link">
        <i class="fa fa-chevron-left"></i>
    </a>
    <i class="fa fa-desktop"></i>&nbsp;&nbsp;{{ server.name }}
{% endblock page_title %}

{% block content %}
    <div class="page-actions">
        <a href="{% url 'branches:server-edit' owner=server.owner.username project=server.project.slug server=server.slug %}" class="pull-right"><button class="btn btn-normal btn-circle"><i class="fa fa-pencil"></i></button></a>
        <a href="{% url 'branches:server-delete' owner=server.owner.username project=server.project.slug server=server.slug %}" class="pull-right"><button class="btn btn-normal btn-circle"><i class="fa fa-trash"></i></button></a>
    </div>

    {% render_server server full=True %}

{% endblock content %}
