@import "colors.less";
@import "fonts.less";
body {
    margin-top: 70px;
    background-color: @dashboard-bg;
}

/** Dashboard */
.main-menu {
    background-color: white;
    height: 70px;
    padding: 0px;
    position: fixed;
    top: 0px;
    width: 100%;

    .status {
        height: 70px;
    }

    .profile {
        height: 100%;
        margin-right: -15px;
        padding: 10px;
        background-color: @light-brown-grey;
        color: @even-darker-brown;
        width: 220px;

        .name {
            float: right;
            font-weight: bold;
            font-family: "aleoregular";
            display: table;
            height: 100%;

            span {
                display: table-cell;
                vertical-align: middle;
            }
        }

        .logout-link {
            float: right;
        }

        img {
            margin-left: 20px;
        }
    }
}

.brand {
    background-color: @dark-green;
    color: white;
    height: 100%;
    font-size: 22px;
    font-family: "aleoregular", "sans-serif";
    display: table;

    span {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }
}

.sidebar {
    background-color: @even-darker-brown;
    position: fixed;
    top: 70px;
    bottom: 0px;
    padding: 20px 0px 0px;

    .caption {
        color: white;
        text-transform: uppercase;
        display: block;
        text-align: center;        
        margin-bottom: 20px;
        color: @grey;
    }

    .menu-item {
        text-transform: uppercase;
        font-size: 16px;
        padding:20px 30px;

        i {
            margin-right: 15px;
        }

        a {
            color: @dashboard-bg;
            text-decoration: none;
        }
    }

    @media(max-width: 768px){
        .menu-item {
            padding: 5px;
        }
    }



    .menu-item.active {
        background-color: @dashboard-bg;
        font-weight: bold;

        a {
            color: @red-brown;
            text-decoration: none;
        }
    }
}

.main {
    padding-left: 30px;
}

.content-wrapper {
    padding: 0px;
}



/** Headings */
h1, h2, h3 {
    color: @brown;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 16px;
}

/** Navigation **/
.navbar-inverse {
    background-color: @brown;
    border: none;
}

.navbar-inverse .navbar-brand {
    color: white;
}

.offline {
    border-bottom-color: 2px solid #E6E6E6;
}

/** Headings **/
h1, h2, h3 {

}

.faded-text {
    color: @faded-text-color;
}

/** Panels **/
.panel {
    border-radius: 0px;
    border: none;
}

.panel-default>.panel-heading {
    background-color: @light-grey;
    border-color: transparent;
}

.panel-default {
    border-color: transparent;
}

.panel-heading {
    .actions {
        float: right;
        margin-top: 20px
    }

    .server-address {
        color: @darker-grey;
        font-size: 12px;        
        font-weight: bold;
        display: block;
        margin-top: 10px;
    }

}

.panel-title {
    color: @brown;
    a {
        color: @brown;
        text-transform: uppercase;
        font-size: 24px;
        text-decoration: none;
    }

    .fa {
        font-size: 27px;
    }

}

.panel-body {

    border-top: 1px solid @lighter-grey;

    .project {
        h3 {
            display: inline-block;
            margin-right: 3px;
            color: @dark-orange;
            text-transform: lowercase;
            a {
                color: @dark-orange;
                text-decoration: none;
            }
        }

        a {
            color: @medium-grey;
        }

        .project-branch-information {
            color: @faded-text-color;
            font-size: 12px;
        }

        .current-branch {
            margin: 10px 0px;
        }

        .commit-list {
            margin-top: 20px;

            .commit {
                margin-bottom: 15px;

                .gravatar {
                    margin-right: 7px;
                }

                .author {
                    font-size: 11px;
                    color: @medium-grey;
                }

                .message {
                    font-size: 12px;
                }


            }
        }
    }
    padding: 0px 15px 15px;
}



.branch-name {
    color: #0f0f0f;
    font-size: 15px;
    border-radius: 7px;
    font-weight: bold;
    margin: 0px 5px;
}

/**
 * New server form
 */
.branches-form {
    padding: 20px;
    background-color: white;
    .form-header {
        margin: -20px -20px 20px;
        padding: 30px 20px 10px;
        background-color: @orange;

        span.title {
            color: #D1A49F;
            font-size: 12px;
            font-weight: bold;
            text-transform: uppercase;          
        }

        span.instructions {
            display: block;
            color: white;
            font-size: 18px;            
        }
    }

    label {
        font-weight: 700;
        text-transform: uppercase;
        font-size: 12px;        
    }

    .form-actions {
        text-align: right;
    }
}


.page-actions {
    height: 50px;
    a {
        margin-left: 10px;
    }
}

.page-heading {
    text-transform: uppercase;
    margin-top: -20px;
    padding-top: 30px;
    padding-bottom: 10px;

    .back-link {
        margin-right: 15px;
        color: @brown;
        text-decoration: none;
    }

    .back-link:hover {
        color: @brown;        
    }
}

.page-subheading {
    padding: 0px 0px 10px;
}

.selectize-input {

}

// Selectize

.selectize-control.textinput.textInput.form-control.single {
    width: 550px;
    margin-left: 20px;
}

.selectize-dropdown, .selectize-input, .selectize-input input {
    line-height: 15px;
}

.selectize-input.full {
    background-color: @lighter-grey;
}

.selectize-control.single .selectize-input:focus, .selectize-control.single .selectize-input:focus {
    outline: none;
}

.selectize-dropdown [data-selectable], .selectize-dropdown .optgroup-header {
    padding: 6px 12px;
    line-height: normal;
    height: 35px;
    color: @even-darker-grey;
}

.selectize-dropdown-content {
    padding: 0px;
}

.selectize-dropdown.single.textinput.textInput.form-control {
    margin-top: 5px;
}

/**
 * Branch styling
 */
#id_branch {
    display: none;
}

#div_id_branch > * {
    vertical-align: middle;
    display: inline-block;
}

#div_id_branch {
    margin-top: 20px;
    label {
        color: @darker-grey;
        margin-bottom: 10px;
    }
}

.branch-actions {
    margin: 0px -15px;
    padding: 10px 15px;
    border-left: 3px solid @light-orange;
    background-color: @pale-orange;
}

span.branch-item {
    margin-top: 3px;
}


/**
 * Project styling
 */
textarea#id_change_branch_script  {
    color: #45CE37;
    background-color: black;
    letter-spacing: 1px;
}

.branch-change-log  {
    color: #45CE37;
    background-color: black;
    letter-spacing: 1px;
    padding: 15px;
    margin-top: 10px;
}

.branch-change-div {
    form {
        display: inline-block;
    }

    .branch-select-actions {
        display: inline-block;
        margin-left: 10px;
    }
}