// browns
@import "colors.less";
@import "fonts.less";

body {
    margin-top: 70px;
    font-family: "Source Sans Pro", "Sans-Serif";
    background-color: @lighter-grey;
}

.main-menu {
    padding: 20px 0px;
}

.site-promotion {
    background-image: url("/static/img/laptop.png");
    height: 610px;

    .manage {
        margin-top: 180px;
        font-size: 41px;
        color: @red-brown;
    }

    .commands {
        font-size: 24px;
        color: @even-darker-brown;
    }

}

.feature {
    width: 770px;
    .feature-description {
        margin: 0px 40px;
    }

    .caption {
        font-family: aleoregular;
        font-size: 32px;
        display: block;
    }

    .sub-caption {

    }
}

.site-title {
    font-weight: bold;
    font-size: 26px;
    padding: 20px 0px;
    float: left;

    .dev {
        color: @brown;
    }

    .branch {
        color: @dark-green;
    }
}

/** Headings */
h1, h2, h3 {
    color: @brown;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 16px;
}

/** Navigation **/

.navbar-inverse {
    background-color: white;
    border: none;
}

.navbar-inverse .navbar-brand {
    color: white;
}

.offline {
    border-bottom-color: 2px solid #E6E6E6;
}

/** Headings **/
h1, h2, h3 {

}

.faded-text {
    color: @faded-text-color;
}

/**
 * Labels
 */
.label {
    padding: 6px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 11px;
}

/**
 * Buttons
 */
.btn {
    padding: 10px 20px;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    background-color: @light-grey;
    color: white;
    border: none;
}

.btn-circle {
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.42;
    border-radius: 20px;    
}

.btn.btn-danger {
    background-color: @orange;
}

.btn.btn-danger:hover {
    background-color: @dark-orange;
}

.btn-small {
    padding: 6px 12px;
}

.btn:hover {
    color: white;
    background-color: @grey;
}

.btn-primary {
    background-color: @lighter-orange;
    border: none;
}

.btn-primary:active, .btn-primary.active {
    background-color: @light-orange;
    border: none;
}

.btn-primary:hover, .btn-primary.hover {
    background-color: @orange;
    border: none;
}

.btn-success {
    background-color: @med-green;
}


/** Main page elements */
.promotion {
    margin: -20px 0px 20px;
    background-color: @dark-orange;
    color: white;
    height: 250px;
}


.branch-name {
    color: #0f0f0f;
    font-size: 15px;
    border-radius: 7px;
    font-weight: bold;
    margin: 0px 5px;
}
